@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body {
  font-family: "Comfortaa";
}
body {
  background-image: url("https://pibig.info/uploads/posts/2022-08/thumbs/1659382014_65-pibig-info-p-krasivii-odnotsvetnii-fon-krasivo-65.jpg");
  background-size: cover;
}

